canvas {
  max-width: 600px;
  max-height: 400px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Botón de descarga */
.download-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.download-button:hover {
  background-color: #45a049;
  transform: scale(1.03);
}

/* Modo oscuro */
body.dark-theme .download-button {
  background-color: #388E3C;
  color: #fff;
}

body.dark-theme .download-button:hover {
  background-color: #2e7d32;
}

/* Botón de línea de tiempo */
.timeline-button {
  background-color: #FBB560;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

.timeline-button:hover {
  background-color: #D49A3A;
  transform: scale(1.03);
}

/* Modo oscuro para timeline button */
body.dark-theme .timeline-button {
  background-color: #FFA726;
}

body.dark-theme .timeline-button:hover {
  background-color: #FB8C00;
}
