/* ------------------------------ */
/* MODO CLARO (por defecto) */
/* ------------------------------ */

.form-list {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

/* Botón Cancelar */
.action-button-cancel {
  border: 1px solid black;
  border-radius: 8px;
  background-color: transparent;
  color: black;
  height: 3rem;
  width: 7rem;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.action-button-cancel:hover {
  background-color: #ff4a4a;
  border-color: transparent;
  color: white;
  cursor: pointer;
}

/* Botón Aceptar */
.action-button-accept {
  border: none;
  border-radius: 8px;
  background-color: #141414;
  color: white;
  height: 3rem;
  width: 7rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.action-button-accept:hover {
  background-color: black;
  cursor: pointer;
}


/* ------------------------------ */
/* MODO OSCURO */
/* ------------------------------ */

body.dark-theme .action-button-cancel {
  border: 1px solid #f1f1f1;
  color: #f1f1f1;
  background-color: transparent;
}

body.dark-theme .action-button-cancel:hover {
  background-color: #e53935;
  border-color: transparent;
  color: white;
}

body.dark-theme .action-button-accept {
  background-color: #f1f1f1;
  color: #121212;
}

body.dark-theme .action-button-accept:hover {
  background-color: #cccccc;
}
